################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Leetcode/.vs/Leetcode/v15/Server/sqlite3
